<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwS-SpCp7fbgkGtsSge3_LUFQeK3kGT2U</string>
	<key>GCM_SENDER_ID</key>
	<string>226393036031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>halilkeremoglu.YemeklerUygulamasiFRD</string>
	<key>PROJECT_ID</key>
	<string>egitim-bf49a</string>
	<key>STORAGE_BUCKET</key>
	<string>egitim-bf49a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226393036031:ios:31be8d1f602850288a68ca</string>
	<key>DATABASE_URL</key>
	<string>https://egitim-bf49a-default-rtdb.firebaseio.com</string>
</dict>
</plist>